<div class="employee-card">
  <div class="employee-card-header">
    <div class="img-container">
      <img
        src="{{
          employee.avatar
            ? employee.avatar
            : 'https://ui-avatars.com/api/?name=' +
              employee.name +
              '&rounded=true'
        }}"
        alt="User avatar"
      />
    </div>
    <div class="details">
      <div class="title" [textContent]="employee.name"></div>
      <div class="subtitle" [textContent]="employee.designation"></div>
    </div>
    <div class="share-profile">
      <button class="circle-btn send-btn" (click)="togglePopover(true)">
        <img src="img/send.svg" height="15" width="15" alt="share" />
      </button>
    </div>
  </div>
  <div class="rating-row">
    <div class="rating-text grey-text">
      <span [textContent]="employee.employee_rating"></span> Rating
    </div>
    <div class="rating">
      <img
        *ngFor="let rating of getStar(employee.employee_rating)"
        src="img/star-filled.png"
        alt=""
      />
    </div>
  </div>
  <div class="employee-card-row">
    <div class="d-flex align-items-center w45p gap-1">
      <div class="grey-text">Experience:</div>
      <div [textContent]="employee.experience"></div>
    </div>
    <div class="tilted-seprator"></div>
    <div class="d-flex align-items-center w55p gap-1 pl-12">
      <div class="grey-text">Date of Joining:</div>
      <div [textContent]="employee.yoj"></div>
    </div>
  </div>
  <div class="employee-card-row">
    <div class="d-flex align-items-center gap-1">
      <div class="grey-text">Current Team:</div>
      <div [textContent]="employee.team"></div>
    </div>
  </div>
  <div class="employee-card-row">
    <div class="d-flex align-items-center gap-1">
      <div class="grey-text">Reporting Manager:</div>
      <div [textContent]="employee.reporting_manager"></div>
    </div>
  </div>
  <div class="employee-card-row">
    <div class="d-flex align-items-center w50p gap-1">
      <button class="circle-btn">
        <img src="img/phone.png" alt="" />
      </button>
      <div [textContent]="employee.mobile_number"></div>
    </div>
    <div class="d-flex align-items-center w50p gap-1 pl-12">
      <button class="circle-btn">
        <img src="img/email.png" alt="" />
      </button>
      <div class="email" [textContent]="employee.email"></div>
    </div>
  </div>
  <app-popover [(visiblity)]="employee.popoverVisibility" ></app-popover>
</div>