.app-header{
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 8px 16px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}