:host {
    padding: 30px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: calc(100vh - 82px);
    
    .data-details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 16px;
        font-weight: 600;
        font-size: 13px;
    }

    .employee-cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        overflow: auto;
        max-height: 100%;
        
  }
}
