<div class="data-details">
    <div class="results">
        <span [textContent]="employees.length"></span> Results Found
    </div>

    <div class="d-flex align-items-center gap-1">
      <input type="checkbox" name="banglore" [(ngModel)]="showBangloreOnly" (change)="filterEmployee()" id="showBanglore">
      <label for="showBanglore">Show only Bangalore Employees</label>
    </div>
</div>
<div class="employee-cards-container">
  @for (employee of employees; track $index) {
  <app-employee-card [employee]="employee"></app-employee-card>
  }
</div>
